asgiref
attrs
certifi
charset-normalizer
click
Django
django-debug-toolbar
django
djangorestframework
gunicorn
h11
iniconfig
Jinja2
MarkupSafe
mccabe
mypy-extensions
pathspec
pdoc
platformdirs
pluggy
psycopg2
py
pycodestyle
pyflakes
Pygments
pyparsing
pysbd
pytest
python-dotenv
pytz
requests
sqlparse
tomli
typing_extensions
urllib3
uvicorn
wikipedia-api
sentry-sdk