{% extends "partials/with_sidebar.html" %}
{% block title %}Home{% endblock %}
{% block sidebar_content %}
    <div class="w-full text-center my-3 ">
        <div class="text-4xl">Hello {{ user }}!</div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <div class="p-3 m-3 border-r-2 shadow-lg rounded-md flex">
            <div class="w-96 font-bold text-gray-800 text-4xl border-r-2">
                Sentences
            </div>
            <div class="w-16 text-right text-gray-800 text-4xl">
                {{ sentences_count }}
            </div>
        </div>
        <div class="p-3 m-3 border-r-2 shadow-lg rounded-md flex">
            <div class="w-96 font-bold text-gray-800 text-4xl border-r-2">
                Projects
            </div>
            <div class="w-16 text-right text-gray-800 text-4xl">
                {{ projects_count }}
            </div>
        </div>
    </div>
{% endblock %}