{% extends "partials/with_sidebar.html" %}
{% block title %}Projects List{% endblock %}
{% block sidebar_content %}{% endblock %}
{% block main_content %}
<div class="w-screen align-items-right my-5">
    <a class="text-right px-3 py-3 text-gray-800 font-bold rounded-xl border-2 bg-white hover:bg-gray-800 hover:text-white" href="new/">
        New Project
    </a>
</div>
<hr />
<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1">
    {% for i in sentences %}
        <!-- <a href="/sentences/{{i.id}}/" class="mx-3 my-2"> -->
            <div class="py-2 px-3 rounded-md border-2 hover:border-r-2 hover:shadow-lg">
                Associated Project ID: {{ i.project_id.id }}<br />
                Sentence ID: {{ i.id }}<br />
                Original text: {{ i.original_sentence }}<br />
                Translated Text: {{ i.translated_sentence }}
            </div>
        <!-- </a> -->
    {% endfor %}
</div>
{% endblock %}